/* TODO: Header */
.header {
    background-color: var(--primary-color);
    height: 40px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-list {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    display: inline-block;
    list-style-type: none;
    padding: 0 12px;
    font-size: 1.6rem;
    position: relative;
}

.header__navbar-icon:hover, 
.header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.7)
}

/* .header__navbar-icon {
    margin-left: 12px;
    font-size: 1.6rem;
} */

.header__navbar-item-form {
    width: 100px;
    background-color: rgba(255, 204, 0, .6);
    position: absolute;
    width: 200px;
    height: 100vh;
    left: 0;
    top: 180%;
    display: none;
}   

.header__navbar-form:hover .header__navbar-item-form {
    display: block;
}

.slider {
    position: relative;
    margin-top: 46.5px;
    width: 100%;
}

.slider__mySlides {
    display: none;
    text-align: center;
}

.active {
    background-color: var(--white-color);
}

.fade {
    animation-name: fade;
    animation-duration: 0.8s;
}

