/* TODO: Header */
.header {
    background-color: var(--primary-color);
    height: 50%;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-list {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    display: block;
    height: 100%;
    list-style-type: none;
    padding: 0 8px;
    font-size: 1.3rem;
    position: relative;
    color: var(--text-color);
    font-weight: bold;
}

.header__navbar-search {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-search-form {
    flex: 1;
    height: 30px;
    border: 2px solid var(--text-color);
}

.header__navbar-search-btn {
    background-color: var(--text-color);
    width: 30px;
    height: 30px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-icon:hover, 
.header__navbar-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7)
}

/* .header__navbar-icon {
    margin-left: 12px;
    font-size: 1.6rem;
} */

.header__navbar-item-form {
    width: 100px;
    background-color: rgba(255, 204, 0, .6);
    position: absolute;
    width: 925%;
    height: 100vh;
    left: 0;
    top: 180%;
    display: none;
}   

.header__navbar-form:hover .header__navbar-item-form {
    display: block;
    z-index: 1;
}

.slider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: rgba(255, 204, 0, .3); */
    padding-top: 16px;
}

.slider__mySlides {
    display: none;
    text-align: center;
    max-height: 416px;
}

.slider__mySlides img {
    width: 740px;
    height: 416px;
}

.active {
    background-color: var(--white-color);
}

.fade {
    animation-name: fade;
    animation-duration: 0.8s;
}

/* Place */
.content > .content__place {
}

.content__place {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 16px;
    background-color: var(--primary-color);
}

.content__place-card {
    width: 28%;
    margin: 16px 0;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding-top: 8px;
    position: relative;
}

.content__place-card-body {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}

.content__place-card-img {
    width: 100%;
    display: block;
    min-height: 200px;
}

.content__place-card-img:hover {
    opacity: 0.6;
}

.content__place-subheading {
    margin-top: 15px;
    color: #757575;
}

.content__place-desc {
    margin: 15px 0;
    line-height: 1.4;
}
.place-card-1:hover,
.place-card-2:hover,
.place-card-3:hover {
    animation: zoom-in 0.5s ease-out forwards;
}

