/* TODO: Header */
.header {
    background-color: var(--primary-color);
    /* height: 40%; */
    /* max-height: 36px; */
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-list {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    display: inline-block;
    height: 100%;
    list-style-type: none;
    padding: 8px;
    font-size: 1.3rem;
    position: relative;
    color: var(--text-color);
    font-weight: bold;
}

.header__navbar-search {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-search-form {
    flex: 1;
    height: 30px;
    border: 2px solid var(--text-color);
}

.header__navbar-search-btn {
    background-color: var(--text-color);
    width: 30px;
    height: 30px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-search-btn:hover {
    /* background-color: rgba(0, 39, 149, .8);*/
    opacity: 0.9;
}

.header__navbar-menu-content {
    display: none;
}

.header__navbar-icon-menu:hover, 
.header__navbar-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7)
}

.header__navbar-icon-menu {
    margin-left: 12px;
    font-size: 1.6rem;
}

.header__navbar-item-form {
    width: 100px;
    background-color: rgba(255, 204, 0, .6);
    position: absolute;
    height: 100vh;
    top: 36px;
    width: 18.5%;
    left: 0;
    display: none;
    box-shadow: 1px 1px 10px #888888;
}   

.header__navbar-form-contain:hover .header__menu {
    display: block;
    z-index: 1;
}

.header__menu {
    display: none;
}

.header__book-hotel {
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: none;
}

.header__show-form-book-hotel:hover .header__book-hotel {
    display: flex;
    flex-direction: column;
}

.header__book-hotel::before,
.header__navbar-item-form::before {
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 3%;
    top: -12px;
    left: 0;
}

.form-input {
    padding: 10px;
    margin-bottom: 10px;
}

.form-input:focus {
    background-color: #f2f2f2;
}

.header__book-hotel--btn {
    padding: 8px 16px;
    background-color: var(--text-color);
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    border: none;
    margin-top: 20px;
}

.header__book-hotel--btn:hover {
    background-color: rgb(0, 49, 149);
    color: rgb(255, 219, 84)
}

.slider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: rgba(255, 204, 0, .3); */
    padding-top: 16px;
}

.slider__mySlides {
    display: none;
    text-align: center;
    max-height: 416px;
}

.slider__mySlides img {
    width: 740px;
    height: 416px;
}

.active {
    background-color: var(--white-color);
}

.fade {
    animation-name: fade;
    animation-duration: 0.8s;
}

/* Place */
.content__place {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 16px;
    /* background-color: var(--primary-color); */
    /* background-color: rgba(255, 204, 0, .3); */
}

.content__place-card {
    margin: 16px 0;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding-top: 8px;
    position: relative;
}

.content__place-card-body {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}

.content__place-card-img {
    width: 100%;
    display: block;
    min-height: 200px;
}

.content__place-card-img:hover {
    opacity: 0.6;
}

.content__place-subheading {
    margin-top: 15px;
    color: #757575;
}

.content__place-desc {
    margin: 15px 0;
    line-height: 1.4;
}

.place-card-1:hover,
.place-card-2:hover,
.place-card-3:hover {
    animation: zoom-in 0.5s ease-out forwards;
}



